*{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: white;
}

header{
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    box-sizing: border-box;
    line-height: 1em;
}

#header-logo{
    padding: 35px;
    width: 220px;
    height: auto;
    position: relative;
    left: 45%;
    line-height: 1;
    text-align: center;
}

#headernav{
    float: left;
    /*width: 70%;*/
    text-align: center;
    left: 20%;
    position: relative;
}

#mainnavigation{
    float: left;
    /*width: 50%;*/
    text-align: center;
}

.header-inner:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

#column-html-block{
    padding-top: 0;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    clear: none;
    position: relative;
    height: auto;
}

#html-block-content{
    margin-bottom: 0;
    margin-top: 20%;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: 200;
    word-wrap: normal;
}

h2{
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 20px;
}

#column{
    width: 100%;
}