*{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}

body{
    /*background-color: white;*/
    padding: 0%;
}

header{
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    box-sizing: border-box;
    line-height: 1em;
}

#header-logo{
    padding-top: 15px;
    width: 230px;
    height: auto;
    position: relative;
    left: 40%;
    line-height: 1;
    text-align: center;
}

#headernav{
    float: left;
    /*width: 70%;*/
    text-align: center;
    left: 10%;
    position: relative;
}

#mainnavigation{
    float: left;
    /*width: 50%;*/
    text-align: center;
}

.header-inner:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    cursor: pointer;
}

#index-section-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#html-block-content{
    text-align: center;
    color: white;
    margin-top: -53%;
    position: relative;
}

h1{
    font-size: 40px;
    font-weight: 100;
    word-wrap: normal;
}

h2{
    font-size: 25px;
    font-weight: 700;
    word-wrap: normal;
}

#column-button-block{
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#html-button-container-mb{
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px;
    transition: background-color .1s linear;
    border-radius: 300px;
    font-size:  20px;
    font-weight: 300;
}

#html-button-container-rf{
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px;
    transition: background-color .1s linear;
    border-radius: 300px;
    font-size:  20px;
    font-weight: 300;   
}

#html-button-container-wom{
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px;
    transition: background-color .1s linear;
    border-radius: 300px;
    font-size:  20px;
    font-weight: 300;   
}

#html-button-container-igs{
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color .1s linear;
    border-radius: 300px;
    font-size:  20px;
    font-weight: 300;
    border: solid 2px #fff;
    color: white;   
}

.social-media-icons{
    position: absolute;
    top: 85%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
}

.social-media-icons ul li {
    list-style: none;
}

.social-media-icons ul li .fa-brands {
    line-height: 40px;
    color: black;
}

.social-media-icons ul li .fa-regular {
    line-height: 40px;
    color: black;
}

.social-media-icons ul li .fa-brands:hover{
    color: darkgrey;
}

.social-media-icons ul li .fa-regular:hover {
    color: darkgrey;
}

.social-media-icons ul li a{
    text-decoration: none;
}

.social-media-icons ul li a i{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
}

.vrar-youtube-video{
    position: relative;
    padding-left: 35%;
    padding-top: 50px;
}

#element-mission{
    max-width: 100%;
    background-color: rgba(226,227,228,.7);
    padding-top: 80px;
    padding-bottom: 80px;
}

#heading-mission{
    display: block;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2em;
    text-align: center;
    padding-bottom: 30px;
}

#para-mission{
    display: block;
    font-size: 17px;
    font-style: normal;
    line-height: 1.2em;
    text-align: center;
    color: rgba(02, 02, 03, .4);
}

#news-content{
    padding-block-start: 50px;
    text-align: center;
    position: relative;
}

#company-name-news{
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    visibility: visible;
    display: inline-block;
    vertical-align: top;
}

#company-link-image{
    position: relative;
    display: block;
}

#company-image{
    margin: 0 0px 25px 0;
    width: 230px;
    height: auto;
    position: relative;
    left: 40px;
}

a{
    background: transparent;
    cursor: pointer;
}

#company-title{
    text-align: center;
}

.more-news-content{
    padding-top: 17px;
    padding-bottom: 15px;
}

#more-news-vrar-content{
    margin-left: -60px;
    position: relative;
}

.vrar-global-summit{
    background-color: rgba(226,227,228,.7);
    text-align: center;
}

#head-global-summit{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
    padding-top: 70px;
    padding-bottom: 20px;
}

strong{
    font-weight: bold;
}

#block-global-content-image{
    width: 60.33%;
    margin-left: 20%;
    padding-bottom: 50px;
}

#html-global-content-image{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    height: auto;
    clear: both;
}

#heading-block-ms{
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.2em;
    font-style: normal;
    letter-spacing: 0;
}

.gallery-block-ms{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 50px;
    position: relative;
    height: auto;
}

.gallery-ms-image{
    clear: left;
    /*width: auto;
    height: auto;*/
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}

.vrar-industry-commitie{
    background-color: rgba(226,227,228,.7);
}

#block-industry-commitie{
    padding: 68px 34px;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
}

#html-insdustry-commitie{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    height: auto;
}

.block-podcast{
    padding: 68px 34px;
    box-sizing: border-box;
    max-width: 1080px;
    margin: auto;
    height: 600px;
}

#content-podcast{
    width: 50%;
    float: left;
}

#content-vrar-podcast{
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    outline: none;
}

#image-vrar-podcast{
    width: 50%;
    float: left;
    display: block;
}

#block-image-podcast{
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    height: auto;
    padding-bottom: 15%;    
}

#vrar-webinars{
    background-color: rgba(226, 227, 228, .7);
    position: relative;
}

#column-webinars{
    padding: 68px 34px;
    box-sizing: border-box;
    max-width: 1080px;
    margin: auto;
    display: block;
}

#row-webinars{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: auto;
    position: relative;
}

#gallery-webinars-image{
    width: 1080px;
    height: 230px;
}

#block-gallery-webinars{
    clear: left;
    width: 340px;
    /*float: left;*/
    display: inline-block;
}

#image-webinars{
    margin-bottom: 15px;
    margin-right: 15px;
    position: relative;
    height: auto;
}

.elementor-publications{
    background-color: white;
    position: relative;
}

#column-vrar-publications{
    padding: 68px 34px;
    box-sizing: border-box;
    max-width: 1080px;
    margin: auto;
}

#html-vrar-publications{
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    clear: none;
    height: auto;
}

#vrar-publications-images{
    clear: both;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    height: auto;
    padding-bottom: 17px;
    padding-top: 17px;
}

#html-publications-image{
    position: relative;
    background-color: rgba(175,175,175,.1);
    display: block;
    height: 478px;
    text-align: left;
}

#vrar-rra{
    padding-left: 17px;
    padding-right: 17px;
    clear: none;
    position: relative;
    height: auto;
    padding-bottom: 17px;
    padding-top: 17px;
    display: block;
}

#html-rra-content{
    outline: none;
    margin-bottom: 0;
    margin-top: 0;
    word-wrap: break-word;
}

#vrar-rra-images{
    padding-bottom: 17px;
    clear: both;
    padding-top: 17px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    height: auto;
    display: block;
}

#intrinsic{
    margin: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.element-chapters{
    background-color: rgba(226,227,228,.7);
}

.block-vrar-chapters{
    padding: 68px 34px;
    box-sizing: border-box;
    max-width: 1080px;
    margin: auto;
}

#row-chapters{
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 17px;
    padding-right: 17px;
    clear: none;
    position: relative;
    height: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    outline: none;
}

h2{
    font-family: freight-sans-pro;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2em;
    letter-spacing: 0px;
    text-transform: none;
}

h3{
    margin-top: 24px;
    margin: 1.5em auto 0.3em;
    font-family: freight-sans-pro;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-transform: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.element-buy{
    display: block;
}

.buy-section-content{
    padding: 68px 34px;
    box-sizing: border-box;
    max-width: 1080px;
    margin: auto;
}

#html-buy-section{
    padding-top: 0;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    clear: none;
    position: relative;
    height: auto;
}

#block-buy{
    outline: none;
    margin-top: 0;
    margin-bottom: 0;
}

#button-buy-section{
    padding-bottom: 17px;
    clear: both;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    height: auto;
    padding-top: 17px;
}

#block-button{
    text-align: center;
    display: block;
}

.button-buy-button{
    border-radius: 300px;
    border-width: 2px;
    transition: 0.1s background-color linear, 0.1s color linear;
    padding: 21px 34px;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: rgba(32,24,24,.9);
    color: black;
}

.button-buy-button:hover{
    background-color: rgba(32,24,24,.9);
    color: #ffff;
}

#pre-footer{
    color: #787878;
    background-color: #f5f5f5;
    display: block;
}

#pre-footer-inner{
    transition: all .25s ease-in-out .1s;
    max-width: 1080px;
    width: auto;
    margin: auto;
}

#pre-footer-layout{
    padding: 34px;
    box-sizing: border-box;
}

#pre-footer-image{
    padding-bottom: 0;
    padding-top: 0;
    clear: both;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    height: auto;
    width: 8.3%;
    float: left;
    top: 50px;
}

#pre-footer-heading{
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 17px;
    padding-right: 17px;
    clear: none;
    position: relative;
    height: auto;
    width: 75%;
}

#pre-footer-head-content{
    outline: none;
    margin-bottom: 0;
    margin-top: 0;
}

#pre-footer h2{
    color: #787878;
    margin: 1.5em auto 0.3em;
}

#pre-footer-button{
    padding-right: 0;
    width: 16.66%;
    float: right;
}

#pre-footer-button-container{
    padding-bottom: 0;
    padding-top: 0;
    clear: both;
    position: relative;
    height: auto;
    padding-left: 17px;
    padding-right: 17px;
    text-align: center;
    top: -40px;
}

.button-signup{
    transition: .1s opacity linear;
    -webkit-backface-visibility: hidden;
    padding: 13px 26px;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color: black;
    border-color: black;
    cursor: pointer;
    text-decoration: none;
}